/* ============================================= */
/*              Mixin Partials                   */
/* ============================================= */


/* ============================================= */
/*              Buttons Color Map Mixin          */
/* ============================================= */

    @mixin buttons($map) {
        @each $btn-color, $color in $map {
            &.#{$btn-color} {
                background-color: $color;
                &:hover {
                    background-color: lighten($color, 15%);
                    transition: background-color .2s ease-in .5s; 
                }
            }
        }
    }
/* ============================================= */
/*              Column Color Map Mixin          */
/* ============================================= */

    @mixin grid($map) {
        @each $col-color, $color in $map {
            &.#{$col-color} {
                background-color: $color;
            }
        }
    }

/* ============================================= */
/*           Image position Map-Get Mixin        */
/* ============================================= */

    @mixin center {
        display: map-get($img-position, 'display');
        margin-left: map-get($img-position, 'margin-left');
        margin-right: map-get($img-position, 'margin-right');
        margin-top: map-get($img-position, 'margin-top');
        max-width: map-get($img-position, 'max-width');
    }

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

    @mixin mq($break) {
        @media (min-width: $break) {
            @content;
        }
    }