/* ============================================= */
/*              Mixin Partials                   */
/* ============================================= */

    @mixin buttons($map) {
        @each $btn-colors, $color in $map {
            &.#{$btn-color} {
                background-color: $color;
                &:hover {
                    background-color: lighten($color, 15%);
                    transition: background-color .2s ease-in-out .5s; 
                }
            }
        }
    }

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

    @mixin mq($break) {
        @media (min-width: $break) {
            @content;
        }
    }