/* ============================================= */
/*              Colors                           */
/* ============================================= */

$white :#fff;
$color-text: #777;
$color-primary: #58e1c1;
$color-links: #51ddfc;
$color-var-grey: #ccc;

/* ============================================= */
/*              Col Colors Map                    */
/* ============================================= */

/* ============================================= */
/*              Button Colors Map                 */
/* ============================================= */

/* ============================================= */
/*              Fonts                            */
/* ============================================= */


/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$break: 768px;