/* ============================================= */
/*              Colors                           */
/* ============================================= */

$white :#fff;
$color-text: #777;
$color-primary: #58e1c1;
$color-links: #51ddfc;
$color-var-grey: #ccc;

/* ============================================= */
/*              Col Colors Map                    */
/* ============================================= */

/* ============================================= */
/*              Button Colors Map                 */
/* ============================================= */

/* ============================================= */
/*              Fonts                            */
/* ============================================= */
 
$main-font: 'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-heavy: 700;

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$break: 768px;